{% extends "base.html" %}
{% block title %}insert member{% endblock %}
{% block head %}
	{{super()}}
{% endblock %}
{% block body %}
	{% block adminNav %}
		{{super()}}
	{% endblock %}
	<div class="container">
	<h1>Member Sign Up Page</h1>
	<form action="{{url_for('insert_Member')}}" method="post"><br>
	<input type="text" name="id" placeholder="ID" ><br>
	<input type="password" name="passwd" placeholder="PASSWORD"><br>
	<input type="text" name="name" placeholder="NAME" ><br>
	<input type="submit" class="btn btn-primary" value="Sign Up!">
	</form><br>
	</div>
{% endblock %}
